body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #d8d5d5;
}

.container {
    width: 1200px;
    padding: 0 15px;
    max-width: calc(100 -30px);
    margin: 0 auto;
    background-color: #d8d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.left-box{
    background-color: #000;
    background-image: url('img/covid19.jpeg');
    width: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 480px;
    display: flex;
    justify-content: center;
}

p {
    width:300px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 5px #000;
    text-shadow: 3px 3px 3px #200303;
    
}

.input-box{
    background-color: #999696;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input, select {
    width: 250px;
    margin: 10px;
    border: 3px solid #200303;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    color: #200303;
    margin-left: 90px;
 
}

option{
    text-align: center;
    color: #200303;
}

button {
    width: 250px;
    margin: 15px;
    border: 3px solid #200303;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    background-color: #200303;
    text-transform: uppercase;
    color: #fff;
    margin-left: 200px;
}

button:hover{
    background-color: #999696;
    text-shadow: 2px 2px 2px #000;
    transform: rotateX(30deg);
}

label {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 10px;
    text-shadow: 2px 2px 2px #000;
    text-transform: uppercase;
    

}


@media (max-width:700px){
    .container{
        width: 750px;
    }
    label{
        font-size: 10px;
        margin-left: 50px;
        font-weight: 0;
    }

    input, select, button {
        width: 200px;
    }
    #data-go-estimate {
        width: 200px;
        margin-left:80px;
    }
}